/* Blog-specific styles */
#toggleMode {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.post {
    border: 2px solid #333;
    padding: 10px;
    margin-bottom: 20px;
}

.post h2 {
    margin-top: 0;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: lightblue;
}
